/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, submit {
  border:none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ruda', sans-serif;
  background-color: #fff;
}

section {
  max-width: 1300px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.title_token {
  background-color: #363636;
  color: #fff;
  height: 50px;
  width: 150px;
  text-align: center;
}


/* HERO STYLES */
.hero {
  height: 100vh;
}

.hero header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;
}

#save {
  padding: 10px 35px;
  border: 2px solid #ec4639;
  border-radius: 35px;
  font-weight: 900;

  background-color: #fff;
}

#video_placeholder {
  justify-content: center;
  height: 625px;
  width: 1100px;
}

.hero .thanks {
  flex-direction: column;
  width: 550px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  margin: 0 auto;
}

.hero .thanks h2 {
  font-size: 4em;
  font-weight: 700;
}

.hero .thanks p {
  margin: 20px 0;
}

#flickr {
  font-size: 16px;
}


/* SLIDER SYTLES */
.slider {
  background-color: #fc433f;
}

.slider img {
  max-width: 1300px;
  height: auto;
}

#tag_line {
  margin-top: -50px;
  margin-left: 50px;
  color: grey;
}



/* WHAT IS LITIQUEST SYTLES */

.what {
  margin: 150px auto;
}

.tile {
  margin: 20px 10px;
  flex-basis: 30%;
  height: 350px;
  width: 350px;
}

.tile > img {
  background-color: #9ca0b4;
  width: 100%;
}


/* RECAP STYLES */
.recap {
  background-color: #fafafa;
}


/* HOSTS STYLES */
.hosts {
  background-image: url(assets/hosts_vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d6dcdf;
  min-height: 675px;
  width: 100%;
}

#hosts_vector {
  justify-content: center;

}


/* FOOTER STYLES */
.footer {
  background-color: #363636;
  min-height: 400px;
  width: 100%;
}

#copyright {
  color: #d6dcdf;
  justify-content: center;
  align-items: center;
  text-align: center;

}






/* SIGNUP STYLES */
.signup {

}

.signup object {
  margin: 50px auto;
}

.signup .area {
  display: flex;
  flex-direction: row;

}

.signup .area form {
  display: flex;
  flex-direction: column;
}
