/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, submit {
  border:none;
  text-decoration: none;
}

body {

  font-family: 'Ruda', sans-serif;
  background-color: #fff;
}

.container {
  position: relative;
  padding: 0;
  border: 1px dotted pink;
}

section {
  display: flex;
  flex-direction: column;
}



/* VECTOR STYLES */
.vector {
  position: absolute;
  z-index: -1;
}

#red_hero_left {
  top: 16%;
  left: -5%
}

#red_hero_right {
  top: 7%;
  right: -5%;
}

#circle_outline {
  top: 7%;
  right: -5%;
  z-index: 2;
}

#grey_hero_p {
  top: 12%;
  left: -5%;
  z-index: -2;
}

#grey_hero_top {
  left: -5%;
}

#what_grey {
  top: 39%;
  right: -5%;
}

#lineup_grey {
  top: 47%;
  left: -5%;
}

#hosts_grey {
  top:83%;
  left: 6%;
  z-index: 0;
}








/* HERO STYLES */
.hero {
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}


#save_btn {
  padding: 10px 35px;
  border: 2px solid #ec4639;
  border-radius: 35px;
  font-weight: 900;
  background-color: #fff;
  color: #000;
  -webkit-transition: all .5s  ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

#save_btn:hover {
  text-decoration: none;
  background-color: #ec4639;
  color: #fff;
}

#video_placeholder {
  background-color: #9ca0b4;
  max-height: 625px;
  width: 100%;
}

.hero .thanks {
  width: 550px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  margin: 50px auto;
  margin-bottom: 100px;
}

.hero .thanks h2 {
  font-size: 4em;
  font-weight: 700;
}

.hero .thanks p {
  margin: 20px 0;
}

#flickr {
  font-size: 16px;
}


/* SLIDER SYTLES */
.slider {
  background-color: #fc433f;
}

.slider img {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 110%;
  height: auto;
}

#tag_line {
  margin-top: -50px;
  margin-left: 50px;
  color: #9c9fb4;
}



/* WHAT IS LITIQUEST SYTLES */
.what {
  width: 80%;
  margin: 150px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.what h2 {
  font-size: 4em;
  font-weight: 700;
}

.facts {
  display: flex;
  flex-direction: row;
  color: #9c9fb4;
}

.facts > p {
  margin-right: 15px;
  width: 50%;
}


/* PEOPLE TILE STYLES*/

.title_token {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1.5px;
  background-color: #363636;
  color: #fff;
  height: 50px;
  width: 150px;
  margin-top: 75px;
  margin-bottom: 25px;
}

.tile {
  margin-bottom: 50px;
}

.tile > img {
  background-color: #9ca0b4;
  width: 100%;
}

.tile > h4 {
  font-weight: bold;
  padding-top: 15px;
}

.tile > p {
  color: #9c9fb4;
  font-size: 18px;
}


/* RECAP STYLES */
.recap {
  background-color: #fafafa;
}


/* HOSTS STYLES */
.hosts {
  background-image: url(assets/hosts_vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d6dcdf;
  min-height: 675px;
  width: 110%;
  
}


.hosts > div {
  z-index: 1;
}

.host-logos {
  display: flex;
  justify-content: space-around;
  margin: 120px auto;
}


/* FOOTER STYLES */
.footer {
  background-color: #363636;
  min-height: 400px;
  width: 100%;
}

#copyright {
  color: #d6dcdf;
  justify-content: center;
  align-items: center;
  text-align: center;

}






/* SIGNUP STYLES */
.signup {

}

.signup object {
  margin: 50px auto;
}

.signup .area {
  display: flex;
  flex-direction: row;

}

.signup .area form {
  display: flex;
  flex-direction: column;
}
