<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Ruda Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ruda:400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../signup-login.css">

    <title>Thank You - LitiQuest</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <!-- VECTORS -->
        <object class="vector" id="red_signup" data="../assets/vector_signup_red.svg" type="image/svg+xml"></object>
        <!-- GREY VECTOR TOO BIG NOT TO CUT -->
        <object class="vector" id="grey_signup" data="../assets/vector_signup_grey.svg" type="image/svg+xml"></object>
<!-- SIGNUP -->
        <section class="signup">
          <object id="logo" data="../assets/logo.svg" type="image/svg+xml" height="42"></object>
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <h2>THANK YOU!</h2>
              <p id="message">You will be notified when registration opens for LitiQuest '18. LitiQuest '18 will take place in New York.</p>
            </div>

          </div>
        </section>
      </div>
<!-- FOOTER -->
      <div class="continer-fluid">
          <section class="footer">
            <span id="copyright">LitiQuest is an initiative of forthepeople.com, litify, and google. All rights reserved &copy; 2017</span>
          </section>
      </div>

    <!-- END WRAPPER -->
    </div>


  </body>
</html>
